body {
  margin: 0;
  font-family: Arial;
  background: #f4f6fb;
}

.navbar {
  background: #4f46e5;
  color: white;
  padding: 15px 30px;
}

.container {
  padding: 30px;
  max-width: 900px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.form input {
  padding: 10px;
  font-size: 16px;
}

.form button {
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 15px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.card button {
  background: green;
  color: white;
  padding: 8px;
  border: none;
}